{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/projects.css')}}" />
{% endblock %}

{% block body %}
<section id="projects" >
    <div class="projects-container" >
        <ul class="projects-cards">
            <li>
                <video width="320" height="240" controls>
                    <source src="{{url_for('static', filename ='imgs/Astar.mp4')}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
                <h4>Astar Path Finding</h4>  
                <a href="https://github.com/ericmullally/a-Star-Search-example/tree/master" target="_blank">View code</a>
            </li>
            <li>
                <video width="320" height="240" controls>
                    <source src="{{url_for('static', filename ='imgs/StockChart.mp4')}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
                <h4>Stock Chart View</h4>  
                <a href="https://github.com/ericmullally/Stock-Chart-veiw" target="_blank">View code</a>
            </li>
            <li>
                <img src="{{url_for('static', filename ='imgs/logo.png')}}" alt="">
                <a href="https://github.com/ericmullally?tab=repositories">View code</a>
            </li>
            <li>
                <img src="{{url_for('static', filename ='imgs/logo.png')}}" alt="">
                <a href="https://github.com/ericmullally?tab=repositories">View code</a>
            </li>
            <li>
                <img src="{{url_for('static', filename ='imgs/logo.png')}}" alt="">
                <a href="https://github.com/ericmullally?tab=repositories">View code</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}