{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/resume.css')}}" />
{% endblock %}

{% block body %}
    <section id="resume" >
    
        <div class= "resume-container"> 
            <h3>EDUCATION</h3>
            <h4>Western Governors University, 4001 S 700 E #300, Salt Lake City, UT 84107</h4> 
            <p>Bachelor of Science, Computer Science</p>
            <p>Jan 2018 - Present </p>
            <p>
            Computer science student with a current GPA of 3.0. Working towards a bachelor's degree in computer science. 
            Projected completion date is August of 2022. 
            </p> 

            <h3>EXPERIENCE</h3>
            <h4>Siege Solutions LLC, Anniston, AL 36206</h4>
            <p>Phone: (256) 555-8976</p>
            <p>Full Stack Developer</p>
            <p>Jan 2021 - Present</p>
            <p>
                Developed high-quality business software solutions, using approved methodologies and standards. 
                Provided efficient production support and maintenance/enhancements for existing applications. 
                Provided professional oral and written communication. 
                Support project planning by providing accurate estimates and status reports and by meeting deliverables. 
                Managed personal career development by maintaining technical expertise.
            </p>


            <h4>Anniston Army Depot, Anniston, AL 36201</h4>  
            <p>Small Arms Repairer</p>
            <p>Phone: (256) 235-7501</p>
            <p>May 2019 - Jan 2021</p>
            <p>
                Worked in a team environment repairing and maintaining military small arms weapons.  
                Maintained a confidential security clearance.  Extremely Detail oriented work, Quality of work was of the utmost importance. 
                Problem solving and troubleshooting issues with over 30,000 weapons.
            </p>    

            <h4>Publix INC, Oxford AL 36203</h4> 
            <p>Grocery Team Leader</p>
            <p>Phone: (256) 835-4075</p>
            <p>Dec 2012 - May 2019</p>
            <p>Responsible for training and directing a team of 10 people. 
                Delegating work, and communicating objectives laid out by managers. 
                Provided monthly reports on profits and loss within the store.
                Monitored the resupply chain to ensure products were in stock. 
            </p>



            <h3>SKILLS</h3>
            <ul>
                <li>Python</li>
                <li>C#</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>SQL</li>
                <li>GIT</li>
                <li>API</li>
                <li>OOP</li>
            </ul>

            <h3>STRENGTHS</h3> 
            <ul>
                <li>Motivated</li>
                <li>Detail-orientated</li>
                <li>Organized</li>
                <li>Excellent verbal and written communication </li>
                <li>Passion for learning new skills</li>
                <li>Ability to learn new technologies quickly</li>
            </ul>
            <h3>CERTIFICATIONS</h3>
            <p>CompTIA Project+ Mar-15-2021</p>
        </div>


    </section>
{%endblock %}
